@model TicariOtomasyon.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Fatura Güncelleme Sayfası</h4>
@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))
{
    @Html.HiddenFor(x => x.FaturaID)
    <label>Fatura Seri No</label>
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    <label>Fatura Sıra No</label>
    @Html.TextBoxFor(x => x.FaturaSiraNo, new { @class = "form-control" })
    <br />
    <label>Vergi Dairesi</label>
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    <label>Fatura Tarih</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <label>Saat</label>
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    <label>Teslim Eden</label>
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
    <br />
    <label>Teslim Alan</label>
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary" style="margin:5px 0 0 0 ">Güncelle</button>
}

